*{font-family: helvetica; text-align: center;}

.heading{background-image: url(../images/flatiron.png);
    color: white; font-weight: bold;}

a{color: white;}

p{font-size: 14px}

h1{font-size: 70px;}

h2{font-size: 32px; font-weight: bold;}

h3{font-size: 23px; font-weight: bold;}

h5{font-size: 18px;}

.footer{font-size: 11px; color: white;
        background-color: dimgray; text-align: left;}

a{color: white; font-size: 18px}


.origin{background-image: url(../images/flatiron.png);
        font-size: 23px; color: white;
      font-weight: bold;}
